@import "../style/base/constants";

.header {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;

    @media (max-width: $mobile-screen) {
      flex-direction: column-reverse;
    }
  }

  &__logo {
  }

  &__buttons {
  }

  &__button {
    width: 163px;
    height: 35px;
    margin-right: 15px;
    color: $color-additional;
    background: $color-basic-light;
    position: relative;
    z-index: 0;

    &:before {
      content: '';
      background: $color-button-gradient-header;
      position: absolute;
      top: -2px;
      left: -2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: glowing 20s linear infinite;
      opacity: 0;
      transition: opacity .3s ease-in-out;
      border-radius: 10px;
    }

    &:active {
      color: $color-basic;
    }

    &:active:after {
      background: transparent;
    }

    &:hover:before {
      opacity: 1;
    }

    &:after {
      z-index: -1;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: $color-basic-light;
      left: 0;
      top: 0;
      border-radius: 10px;
    }
  }

}

.logo {
  &__title {
    font-family: $font-family-logo;
    color: $color-additional;
    @include font(normal, 400, 4rem, 150%);
    letter-spacing: 1.6rem;
    text-shadow: 0 -40px 100px, 0 0 0, 0 0 1em $color-logo-shadow, 0 0 0.5em $color-logo-shadow, 0 0 0.1em $color-logo-shadow;

    span {
      animation: logo linear infinite 2s;
    }

    @media (max-width: $middle-screen) {
      font-size: 3rem;
    }
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes logo {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #0b3960;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #0b3960;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #0b3960;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}