{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ],
    "createDefaultProgram": true
  },
  "ignorePatterns": [
    "dist/**"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "error"
  },
  "overrides": [
    {
      "files": [
        "*.ts"
      ]
    }
  ]
}