$font-family-basic: 'Arial', sans-serif;
$font-family-logo: 'SEGA LOGO FONT', 'Arial', sans-serif;
$font-family-additional: 'Press Start 2P', 'Arial', sans-serif;

$color-basic: #000000;
$color-additional: #FFFFFF;
$color-road: #2d3334;
$color-button-gradient-additional: linear-gradient(274.8deg, #D131D1 -22.68%, #FC417F 38.98%, #F95F1D 106%);
$color-button-gradient-basic: linear-gradient(180deg, #F5BD00 0%, #FFDC1C 100%);
$color-button-border: #FFE638;

@mixin font($style, $weight, $size, $height) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}