$font-family-basic: 'Arial', sans-serif;
$font-family-logo: 'SEGA LOGO FONT', 'Arial', sans-serif;
$font-family-additional: 'Press Start 2P', 'Arial', sans-serif;

$color-additional: #FFFFFF;

$color-button-gradient: linear-gradient(274.8deg, #D131D1 -22.68%, #FC417F 38.98%, #F95F1D 106%);

//$color-basic: #1E212C;
//$color-basic-light: #424551;
//
//$color-brand: #17696A;
//$color-brand-dark: #145C5D;
//
//$color-meta: #FFFFFF;
//
//$color-additional: #787A80;


@mixin font($style, $weight, $size, $height) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}