$font-family-basic: 'Arial', sans-serif;
$font-family-logo: 'SEGA LOGO FONT', 'Arial', sans-serif;
$font-family-additional: 'Press Start 2P', 'Arial', sans-serif;

$color-basic: #000000;
$color-basic-light: #111111;
$color-additional: #FFFFFF;
$color-additional-dark: #848484;
$color-additional-dark-xl: #2d3334;

$color-button-gradient-additional: linear-gradient(274.8deg, #D131D1 -22.68%, #FC417F 38.98%, #F95F1D 106%);
$color-button-gradient-additional-reverse: linear-gradient(274.8deg, #F95F1D -22.68%, #FC417F 38.98%, #D131D1 106%);

$color-button-gradient-basic: linear-gradient(180deg, #F5BD00 0%, #FFDC1C 100%);
$color-button-gradient-basic-reverse: linear-gradient(180deg, #FFDC1C 0%, #F5BD00 100%);

$color-button-gradient-header: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
$color-button-border-basic: #FFE638;
$color-button-border-additional: #FC417F;
$color-logo-shadow: #BFE2FF;

$middle-screen: 870px;
$mobile-screen: 800px;

@mixin font($style, $weight, $size, $height) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}