@font-face {
  font-family: 'Press Start 2P';
  src: url('../../../assets/source/fonts/press-start-2p/PressStart2P-Regular.eot');
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'),
  url('../../../assets/source/fonts/press-start-2p/PressStart2P-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/source/fonts/press-start-2p/PressStart2P-Regular.woff') format('woff'),
  url('../../../assets/source/fonts/press-start-2p/PressStart2P-Regular.ttf') format('truetype');
  //font-weight: normal;
  //font-style: normal;
}

@font-face {font-family: "SEGA LOGO FONT";
  src: url("../../../assets/source/fonts/sega-logo-font/b593a614952261da06c53a02d1954f44.eot");
  src: url("../../../assets/source/fonts/sega-logo-font/b593a614952261da06c53a02d1954f44.eot?#iefix") format("embedded-opentype"),
  url("../../../assets/source/fonts/sega-logo-font/b593a614952261da06c53a02d1954f44.woff2") format("woff2"),
  url("../../../assets/source/fonts/sega-logo-font/b593a614952261da06c53a02d1954f44.woff") format("woff"),
  url("../../../assets/source/fonts/sega-logo-font/b593a614952261da06c53a02d1954f44.ttf") format("truetype");
}