@import "../style/base/constants";

.popup {
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
  height: 350px;
  background-color: $color-basic;
  color: $color-additional;
  font-family: $font-family-additional;
  @include font(normal, 400, 1.5rem, 150%);
  z-index: 5;

  border-style: solid;
  border-width: .125em 0;
  box-shadow: -.375em 0 0 -.125em,
  .375em 0 0 -.125em;

  &:before {
    background-color: inherit;
    border: inherit;
    border-width: 0 .125em;
    bottom: .375em;
    content: '';
    left: -.5em;
    pointer-events: none;
    position: absolute;
    top: .375em;
    right: -.5em;
    z-index: -2;
  }

  &:after {
    background-color: inherit;
    border: inherit;
    border-width: 0 .125em;
    bottom: .125em;
    content: '';
    left: -.375em;
    position: absolute;
    top: .125em;
    right: -.375em;
    z-index: -1;
  }

  &__image {
    margin-bottom: 10px;
  }

  &__text {
    text-align: center;
  }
}