@import "../base/constants";

.button {
  cursor: pointer;
  width: 100px;
  height: 25px;
  border-radius: 10px;
  font-family: $font-family-additional;
  @include font(normal, 400, 1.1rem, 150%);
}

.button-basic {
  background: $color-button-gradient-basic;
  border: 4px solid $color-button-border-basic;
  color: $color-basic;

  &:hover {
    background: $color-button-gradient-basic-reverse;
  }

  &:active {
    background: $color-button-gradient-basic;
  }
}

.button-basic:disabled {
  border-color: $color-additional-dark;
}

.button-additional {
  color: $color-additional;
  background: $color-button-gradient-additional;

  &:hover {
    background: $color-button-gradient-additional-reverse;
  }

  &:active {
    background: $color-button-gradient-additional;
  }
}

.buttonStart,
.buttonEnd {
  width: 30px;
  height: 30px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonEnd {
  font-size: 3rem;
}

.buttonStart {
  margin-right: 10px;
}

.buttonSelect {
  margin-right: 10px;
}

.button:disabled {
  cursor: auto;
  color: $color-additional-dark-xl;
  background: $color-additional-dark;
}

.button-next,
.button-prev {
  height: 32px;
}